li {
	list-style-type: none;
}

.medium-3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav {
	display: inline-block;
}

.dropit {
	list-style-type: none;
	background-color: #FFFFFF;
    border-radius: 4px;
    display: none; /* on hover displayed */
    margin-left: 0px;
    position: absolute;
    min-width: 300px;
    z-index: 999; /* moves to "top" */
    padding-left: 5px; /* removes default button padding */
    	p{
    		margin-bottom: 0px;
    	}
} /* settings dropdown menu! hidden first. absolute display - relative to gear */

.menu:hover .dropit {
	display: block;
} /* on gear hover, the dropdown is revealed */

.menu:hover .dropit li {
//    display: inline-block;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
} /* on gear hover, the dropdown li appear as such  - padding between the li lines, no decoration  */

.dropdownit {
	line-height: 0px;
	list-style-type: none;
}

.menu {
	list-style-type: none;
	margin-left: 0;
}

.menu > li {
	display: inline-block;
}

ul .buttons {
	display: inline-block;
	margin: 4px;
	padding: 5px;
}

.inline-block li {
	display: inline-block;
	padding: 5px;
}

